.nerixfotos_cont_banner{
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/2020\ \(17\).JPG");
}

.nerixfotos_sobra{
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%,-50%);
    padding: 20px;
    width: 80%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    margin: auto;
}

.nerixfotos_sobra hr{
    border-top: 1px solid #fff;
}

.nerixfotos_sobra h1{
    font-size: 8vw;
    margin-bottom: 10px;
}

.nerixfotos_sobra p{
    font-size: 4vw;
    margin-bottom: 10px;
}

.nerixfotos_cont_banner_link{
    margin: 15px;
    position: relative;
}

.nerixfotos_cont_banner_link a{
    position: relative;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 1px;
    margin-bottom: 5px;
    width: 150px;
}

.nerixfotos_cont_banner_link a:hover{
    background-color: #fff;
    color: #111;
}

.nerixfotos_banner_link{
    opacity: 0;
    animation: nerixfotos_keyframes_aparecer_de_arriba 1s;
    -webkit-animation: nerixfotos_keyframes_aparecer_de_arriba 1s;
    animation-fill-mode: forwards;
}

.nerixfotos_banner_link_1{
    opacity: 0;
    animation: nerixfotos_keyframes_aparecer_de_arriba 1s;
    -webkit-animation: nerixfotos_keyframes_aparecer_de_arriba 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

.nerixfotos_banner_link_2{
    opacity: 0;
    animation: nerixfotos_keyframes_aparecer_de_arriba 1s;
    -webkit-animation: nerixfotos_keyframes_aparecer_de_arriba 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.nerixfotos_cont_banner_sec_3{
    height: 120vh;
    background-attachment: fixed;
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/C-\(23\).jpg");
    position: relative;
    padding: 10%;
    margin-top: 200px;
    margin-bottom: 100px;
}

.nerixfotos_cont_banner_sec_3 .row{
    background-color: rgba(1, 1, 1, 0.7);
    color: #fff;
    padding: 2%;
}

.nerixfotos_cont_img{
    padding: 5%;
}

.fotonereapareja img{
    height: 400px;
}
.fotonereapareja2 img{
    height: 250px;
}

.nerixfotos_cont_banner2{
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/2021\ \(48\).jpg");
}
